/* _____________________________header_____________________________ */

.Q_DMainGorLine {
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 12;

  box-shadow: 3px 4px 9px 1px #192966cc;
}

/* _____________________________index page_____________________________ */

.Q_D1BGM {
  position: relative;
  height: 110vh;
  overflow: hidden;
  top: -20px;
}
.Q_D1BGM video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}
video::-webkit-media-controls {
  display: none;
}

.Q_D1Coco {
  width: 28%;
  height: auto;
}

.Q_D1Green {
  width: 28%;
  height: 100%;
  padding-top: 2%;
}

/* _____________________________archive_____________________________ */

.Q_D1Purple {
  position: absolute;
  display: block;
  width: 20%;
  height: auto;
  bottom: -20%;
  left: -1%;
}
.Q_D1Frame {
  z-index: 10;
  position: absolute;
  width: 100%;
  bottom: 0;
}
