/* _____________________________header_____________________________ */

.A_MainMenuText {
  color: #0037ff;
  padding-bottom: 15px;
  white-space: nowrap;
}
.A_MainMenuText,
.MainMenuNav img {
  margin: 0 3% 0;
}

/* _____________________________index page_____________________________ */

.A_Question {
  text-align: left;
  font-size: 64rem;
  font-weight: 700;
  color: #0037ff;
  background-image: url('../../images/questionCard.webp');
  background-size: cover;
  background-position: center;
  height: 130px;
  padding-left: 2%;
  padding-top: 2%;
}
.M_AnswerMassage {
  margin: 0;
}
.M_AnswerMassage input {
  display: none;
}
.A_AnswerText {
  display: block;
  padding: 6%;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  font-size: 36rem;
  font-weight: 100;
  color: #0037ff;
}
.A_AnswerText:hover {
  transform: scale(1.03);
}
input[type='radio']:checked + .A_AnswerText {
  color: white;
}
.A_AnswerCard {
  background-image: url('../../images/answerCard.webp');
  background-size: cover;
  background-position: center;
  height: 140px;
}

.A_BGRainbow {
  width: 100%;
}
.A_NumberOfQuestion {
  display: none;
}
.A_OverlayRect1 {
  position: absolute;
  width: 67%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7%;
  pointer-events: none;
  z-index: 10;
}

.A_OverlayRect2 {
  position: absolute;
  width: 67%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 17%;
  pointer-events: none;
  z-index: 10;
}

.M_TestResult {
  max-width: 80%;
  padding-left: 2%;
  padding: 2%;
  text-align: left;
  color: #0037ff;
}
.A_TestResultHeader {
  font-size: 42rem;
  font-weight: 700;
}
.A_TestResultCount {
  font-size: 36rem;
  font-weight: 300;
  margin-bottom: 2%;
}
.A_TestResultParagraph {
  font-size: 28rem;
  font-weight: 100;
}

.A_TestPageName {
  font-size: 36rem;
  font-weight: 600;
  color: #011970;
  text-align: center;
  display: block;
}

/* rubricator websites */

.A_DMobileRubricator {
  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: center;
}
.A_DMobileRubricator p {
  padding-top: 2%;
}

.A_WebsitesTeaserFooter {
  color: white;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #7390f7 39.9%,
    #0037ff 94.23%
  );
  border-radius: 20px;

  font-size: 27px;
  width: 50%;
  align-items: center;
  text-align: center;
  position: relative;
  top: -8%;

  padding: 3%;
}

/* _____________________________tests_____________________________ */
.A_TestTeaserHeader {
  color: #0037ff;
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(180deg, #ffffff 48.49%, #0037ff 135.28%);

  padding: 5% 2% 3%;
}

.A_TestTeaserDescription {
  color: #0037ff;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.1%;
  background: linear-gradient(179.98deg, #ffffff 30%, #0037ff 128.17%);
  box-shadow: 8.24px 8.24px 10.99px 0px #3921d6b2;

  padding: 3% 2% 10%;
}

.A_TestTeaserIcon {
  width: 27%;
  aspect-ratio: 1 / 1;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 6.56px 14.75px 1.64px #192966cc;
  border-radius: 50%;

  margin-left: -10%;
}
