/* _____________________________index page_____________________________ */

.C_DMainIcons {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
}
/* .C_DMainIcons {
  float: left;
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
  margin-top: 15%;
  margin-left: 4%;
} */
.C_DMainIcons img {
  width: 100%;
  height: auto;
}
.C_Answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-top: 3%;
}
