/* _____________________________index page_____________________________ */

.W_AboutProject {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;
}
.W_IndexCalendar {
  width: 90%;
  position: relative;
  top: 10%;
  left: 5%;
  display: flex;
  justify-content: space-between;
}
.W_TestPage {
  min-height: 100vh;
  background-image: url('../../images/backgr(rainbow).webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.start-line {
  position: absolute;
  bottom: -2%;
  z-index: 100;
  width: 100%;
  display: block;
}

/* _____________________________archive_____________________________ */

.W_DAboutArchive {
  position: relative;
  left: 5%;
}
/* _____________________________interactive_____________________________ */
.W_Welcome {
  position: relative;
  margin-top: 10%;
}

/* .W_GamesPage {
  min-height: 130vh;
  background-image: url('../../images/backgr-rainbow-games.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.W_AboutUsPage {
  min-height: 350vh;
  background-image: url('../../images/backgr-sea.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.W_ArchivePage {
  min-height: 100vh;
  background-image: url('../../images/backgr-grass.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.W_WebsitesPage {
  min-height: 650vh;
  background-image: url('../../images/backgr-grass1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.W_MemesPage {
  min-height: 650vh;
  background-image: url('../../images/backgr-grass1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
