/* _____________________________index page_____________________________ */

.W_AboutProject,
.W_IndexCalendar {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;
}
.W_IndexCalendar {
  top: 10%;
  margin: 0 0 8%;
}

.start-line {
  position: absolute;
  bottom: -2%;
  z-index: 100;
  width: 100%;
  display: block;
}
/* _____________________________tests_____________________________ */

.W_TestTeaser {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

/* _____________________________test_____________________________ */

.W_Test {
  width: 90%;
  position: relative;

  margin: 0 auto;
}

/* _____________________________archive_____________________________ */

.W_DAboutArchive {
  position: relative;
  left: 5%;
}
/* _____________________________interactive_____________________________ */

.W_Welcome {
  position: relative;
  margin-bottom: 15%;
  width: 50%;
  z-index: 20;
}

/* _____________________________about us_____________________________ */

.W_DManifest,
.W_DSocials,
.W_DTeam {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;

  min-height: 20%;
}
