.O_Test {
    height: 420px;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 10%;
    background-image: url(../../images/W_OTestBG.webp);
    background-size: cover;
    background-position: center;
    margin-bottom: 6%;
}
