@media screen and (max-width: 600px) {
  html {
    font-size: calc(0.35vw / 3.9);
  }
  body {
    background: radial-gradient(
      ellipse at center,
      #6872ff 0%,
      #6872ff 5%,
      #ba34ff
    );
  }
  .zaglushka {
    flex-direction: column;
  }

  .zaglushka h3 {
    font-size: 50rem;
    padding-right: 240rem;
  }
  .text {
    margin-top: 360rem;
    padding: 20rem;
  }

  .zaglushka img {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 40rem;
  }
  input[name='message'] {
    width: 100%;
    height: 80rem;
    font-size: 36rem;
    margin-top: 700rem;
  }
  #my-form-button {
    width: 35%;
    height: 80rem;
    font-size: 36rem;
  }
  .clouds {
    width: 140vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(10rem);
  }
  .cloud-1 {
    width: 80%;
    bottom: 75%;
    right: 60%;
  }
  .cloud-2 {
    width: 80%;
    bottom: 75%;
    left: 40%;
    rotate: 15deg;
  }
  .cloud-3 {
    width: 80%;
    top: 73%;
    left: 35%;
  }

  .cloud-4 {
    width: 80%;
    top: 75%;
    right: 65%;
    transform: rotate(180deg);
  }
  .socials {
    left: 80rem;
    top: 1560rem;
    gap: 5rem;
    margin: 100rem auto;
  }

  .vk {
    height: 80rem;
  }

  .tgg {
    margin-left: 4.5rem;
    height: 80rem;
  }

  .inst {
    height: 86rem;
    padding-bottom: 4rem;
  }

  .socials a img {
    width: 80%;
  }
  a {
    font-size: 60rem;
  }
  .main {
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    height: 150vh;
  }
  .main-text h1 {
    font-size: 450rem;
    font-weight: 150;
    margin-top: 180rem;
  }
  .main-info h3 {
    font-size: 50rem;
    line-height: 55rem;
    top: 1250rem;
  }

  .dolphin {
    width: 100%;
    height: 700rem;
    top: 480rem;
  }

  .main-menu a {
    font-size: 60rem;
  }
  .articles2,
  .articles1-link,
  .articles3,
  .articles4 {
    top: 1325rem;
  }
  .articles-pl,
  .articles-png {
    top: 1400rem;
  }
  .about1 {
    top: 1730rem;
  }
  .about-pl,
  .about-png {
    top: 1600rem;
  }
  .archive1 {
    top: 1750rem;
  }
  .archive2 {
    top: 1740rem;
  }
  .archive-pl,
  .archive-png {
    top: 1460rem;
  }
  .interactive1,
  .interactive3 {
    top: 2160rem;
  }
  .interactive2 {
    top: 2165rem;
  }
  .interactive-pl,
  .interactive-png {
    top: 2235rem;
  }
  .main-socials {
    top: 3250rem;
  }

  .main-socials a {
    height: 80rem;
    left: 85%;
  }

  .main-vk {
    height: 80rem;
  }

  .main-tgg {
    height: 80rem;
  }

  .main-inst {
    height: 86rem;
  }

  .main-socials a img {
    width: 70%;
  }
  .main-info h4 {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: calc(0.35vw / 3.9);
  }
  body {
    background: radial-gradient(
      ellipse at center,
      #6872ff 0%,
      #6872ff 5%,
      #ba34ff
    );
  }
  .zaglushka {
    flex-direction: column;
  }

  .zaglushka h3 {
    font-size: 50rem;
    padding-right: 240rem;
  }
  .text {
    margin-top: 100rem;
    padding: 20rem;
  }

  .zaglushka img {
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  input[name='message'] {
    width: 100%;
    height: 75rem;
    font-size: 36rem;
    margin-top: 450rem;
  }
  #my-form-button {
    width: 30%;
    height: 75rem;
    font-size: 36rem;
  }
  .clouds {
    width: 140vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(10rem);
  }
  .cloud-1 {
    width: 80%;
    bottom: 75%;
    right: 60%;
  }
  .cloud-2 {
    width: 80%;
    bottom: 70%;
    left: 40%;
    rotate: 15deg;
  }
  .cloud-3 {
    width: 80%;
    top: 70%;
    left: 35%;
  }

  .cloud-4 {
    width: 80%;
    top: 75%;
    right: 65%;
    transform: rotate(180deg);
  }
  .socials {
    left: 70rem;
    top: 1000rem;
    gap: 5rem;
    margin: 100rem auto;
  }

  .vk {
    height: 80rem;
  }

  .tgg {
    margin-left: 4.5rem;
    height: 80rem;
  }

  .inst {
    height: 86rem;
    padding-bottom: 4rem;
  }

  .socials a img {
    width: 80%;
  }
  a {
    font-size: 50rem;
  }
  .main {
    height: 2048px;
  }
}
