* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100vh;
}

body {
  font-family: 'arialnarrow', Arial, Helvetica, sans-serif;
  background-color: #3a7bd5;
  overflow-x: hidden;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.frame-header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: -6px;
  left: 0;
  object-fit: cover;
  z-index: 2;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 98%;
  padding: 2% 0;
  z-index: 1;
}

.navigation img {
  width: 108%;
  height: auto;
  object-fit: contain;
}

.nav-about,
.nav-articles,
.nav-archive,
.nav-interact,
.nav-aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  text-align: center;
}

.nav-about p,
.nav-articles p,
.nav-archive p,
.nav-aboutUs p,
.nav-interact p {
  margin: -145px 0;
  font-size: 25px;
  color: #0037ff;
  white-space: nowrap;
  z-index: 5;
}

.frame-left {
  position: fixed;
  display: block;
  width: 4%;
  height: 100%;
  top: 0;
  left: -1%;
  object-fit: cover;
  z-index: 1000;
}

.frame-right {
  position: fixed;
  display: block;
  justify-content: flex-end;
  width: 4%;
  height: 100%;
  top: 0;
  right: -1.5%;
  object-fit: cover;
  z-index: 1000;
}

main {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  z-index: 1;
}

.screen-1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.screen1-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -3;
}

.screen-1 h1 {
  position: absolute;
  font-size: 200px;
  color: #0037ff;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  left: 50%;
  top: 18%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: bold;
  letter-spacing: 5px;
}

.dolphin {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 25%;
  z-index: 2;
}

.apple {
  position: absolute;
  width: 30%;
  left: 2%;
  top: 10%;
  z-index: 2;
}

.face-1 {
  position: absolute;
  width: 20%;
  right: 5%;
  top: 40%;
  z-index: 2;
}

.microwave {
  position: absolute;
  width: 20%;
  left: 6%;
  top: 60%;
  z-index: 2;
}

.frame-horizont {
  position: absolute;
  width: 100%;
  height: auto;
  top: 88%;
  left: 0;
  z-index: 7;
}

.screen-2 {
  width: 100%;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}
.screen2-bg {
  position: absolute;
  width: 100%;
  height: 102%;
  top: -10px;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.mini-screen-1 {
  margin: 5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin-bottom: -5%;
}

.mini-window {
  position: relative;
  flex: 1;
  max-width: 54%;
  padding: 20px;
}

.mini-window .mini-wind {
  width: 100%;
  height: auto;
  display: block;
}

.mini-window .mini-window-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5% 8% 2% 5%;
  z-index: 2;
  color: #0037ff;
  font-weight: bold;
  line-height: 1.5;
}

.mini-window .mini-window-content h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 38px;
  color: #0037ff;
  padding-bottom: 5px;
}

.mini-window .mini-window-content p {
  font-size: 18px;
  line-height: 1.5;
  width: 80%;
}

.face2 {
  width: 40%;
  max-width: 36%;
}

.face-2 {
  width: 100%;
  height: auto;
  display: block;
}

.mini-screen-2 {
  position: relative;
  margin: 2% 5%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2%;
}

.mini-icons {
  position: relative;
  flex: 1;
  max-width: 54%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mini-icons .column-1,
.mini-icons .column-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.interact-mini,
.archive-mini,
.trash-mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.articles-mini,
.aboutUs-mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 18px;
}
.aboutUs-mini {
  margin-top: 20px;
}
.interact-mini img,
.archive-mini img,
.trash-mini img,
.articles-mini img,
.aboutUs-mini img {
  width: 50%;
  height: auto;
  margin-bottom: 5px;
}

.interact-mini p,
.archive-mini p,
.trash-mini p,
.articles-mini p,
.aboutUs-mini p {
  font-size: 22px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.big-note {
  position: relative;
  flex: 1;
  max-width: 60%;
  margin-top: 8%;
}

.big-note .big-note-img {
  width: 100%;
  height: auto;
  display: block;
}

.big-note .big-note-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 86%;
  padding: 2% 0 2% 5%;
  z-index: 2;
  color: black;
  font-weight: bold;
  line-height: 1.5;
  font-style: italic;
}

.big-note .big-note-content h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 38px;
}

.big-note .big-note-content p {
  font-size: 18px;
  line-height: 1.6;
  width: 98%;
}

.mini-screen-3 {
  position: relative;
  margin: 4% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.play-window {
  position: relative;
  flex: 1;
  max-width: 54%;
}

.play-window .play-window-img {
  width: 100%;
  height: auto;
  display: block;
}

.play-window .play-window-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 86%;
  padding: 4% 0 2% 0;
  width: 100%;
  z-index: 2;
}

.play-window .play-window-content h3 {
  font-weight: normal;
  margin-bottom: 2%;
  font-size: 38px;
  color: #0037ff;
  text-align: center;
}

.test-mini {
  position: absolute;
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  left: 50%;
  padding: 18px;
}
.game-mini {
  position: absolute;
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.test-mini img,
.game-mini img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.test-mini p,
.game-mini p {
  font-size: 22px;
  color: #0037ff;
  font-weight: bold;
  margin-top: 100%;
  margin-left: -60%;
}

.tv {
  width: 40%;
  max-width: 40%;
}

.tv-img {
  width: 100%;
  height: auto;
  display: block;
}

.mini-screen-4 {
  position: relative;
  margin: 2% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  width: 100%;
  height: auto;
  display: block;
}

.mini-screen-5 {
  position: relative;
  margin: 2% 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.line-1,
.line-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.line-1 img,
.line-2 img {
  width: 30%;
  max-width: 50%;
  height: auto;
}

footer {
  width: 100%;
  position: relative;
  z-index: 100;
}

.footer-bg {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  left: 0;
  object-fit: cover;
  z-index: -2;
}

.socials {
  position: absolute;
  top: 0;
  left: 5px;
  padding: 3% 8% 2% 3%;
  width: 98%;
  text-align: center;
  align-items: center;
}

.call {
  font-size: 38px;
  font-style: italic;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

.socials-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: auto;
  gap: 2px;
  right: 3%;
  top: -30%;
}

.socials-icons a {
  display: block;
}

.socials-icons img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
form {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 24%;
  left: 3%;
  gap: 3px;
  width: 25%;
}

input[name='message'] {
  width: 70%;
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 2px solid #4a8aff;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 2px 10px rgba(21, 21, 21, 0.512);
  outline: none;
  -webkit-text-stroke: none;
}

#my-form-button {
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  padding: 10px;
  background: #0037ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: 30%;
  box-shadow: 0 2px 10px rgba(21, 21, 21, 0.512);
  cursor: pointer;
}

#my-form-status {
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  position: absolute;
  top: 100%;
  left: 1%;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.team {
  position: absolute;
  left: 3%;
  width: 50%;
  height: 50%;
  text-align: left;
  top: 50%;
}

.team-names {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.team-names p {
  font-size: 26px;
  font-weight: normal;
  color: #0037ff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #f0f0f0;
  border-radius: 50%;
}

.logo-icon {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: auto;
  gap: 2px;
  right: 3%;
  top: 42%;
}

.logo-icon img {
  width: 40%;
  height: auto;
  transition: transform 0.3s ease;
}
.footer-end {
  position: absolute;
  display: block;
  width: 120%;
  height: 20%;
  bottom: -10%;
  left: -1%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1000;
}
