* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100vh;
}

body {
  font-family: 'arialnarrow', Arial, Helvetica, sans-serif;
  background-color: #3a7bd5;
  overflow-x: hidden;
  position: relative;
}
