* {
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 14.4);
  height: 100vh;
}

body {
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  font-size: 16rem;
  margin: 0;
  background: radial-gradient(
    ellipse at center,
    #6872ff 0%,
    #6872ff 45%,
    #ba34ff
  );
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

.zaglushka {
  color: bisque;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.zaglushka h1 {
  font-size: 100rem;
  font-weight: 400;
  line-height: 60rem;
  -webkit-text-stroke: 2rem black;
  margin-bottom: 26rem;
}

.zaglushka h2 {
  font-size: 100rem;
  font-weight: 400;
  line-height: 60rem;
  -webkit-text-stroke: 2rem black;
  margin-bottom: 26rem;
}

.zaglushka h3 {
  font-size: 42rem;
  line-height: 44rem;
  margin-bottom: 26rem;
  -webkit-text-stroke: none;
  font-weight: 400;
}

.zaglushka img {
  width: 48%;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100rem 0 0 30rem;
  position: absolute;
  z-index: 100;
  color: white;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30rem;
  border-radius: 30rem;
}

input[name='message'] {
  width: 33%;
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 56rem;
  border-radius: 10rem;
  outline: none;
  border: 1rem solid black;
  -webkit-text-stroke: none;
  padding: 0 20rem 4rem;
  color: black;
  transition: border ease 0.3s;
  font-size: 35rem;
}

#my-form-button {
  width: 15%;
  height: 56rem;
  border-radius: 10rem;
  padding: 0 20rem 4rem;
  outline: none;
  background-color: #0540f2;
  border: 1rem solid black;
  -webkit-text-stroke: none;
  color: white;
  font-size: 35rem;
  cursor: pointer;
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
}

#my-form-status {
  font-size: 30rem;
  padding-left: 20;
}

.clouds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.cloud-1 {
  position: absolute;
  width: 50%;
  bottom: 80%;
  right: 80%;
  transform: rotate(180deg);
}

.cloud-2 {
  position: absolute;
  width: 50%;
  bottom: 85%;
  left: 65%;
}

.cloud-3 {
  position: absolute;
  width: 50%;
  top: 70%;
  left: 60%;
}

.cloud-4 {
  position: absolute;
  width: 50%;
  top: 75%;
  right: 70%;
  transform: rotate(180deg);
}

.socials {
  position: absolute;
  width: auto;
  height: auto;
  left: 65rem;
  top: 445rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 18rem;
}

.socials a {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  height: 80rem;
  width: auto;
}

.vk {
  height: 40rem;
}

.tgg {
  margin-left: 4.5rem;
  height: 40rem;
}

.inst {
  height: 46rem;
  padding-bottom: 4rem;
}

.socials a img {
  width: 80%;
}

a {
  position: absolute;
  top: 20rem;
  right: 20rem;
  z-index: 100;
  font-size: 30rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* about media  */
.main {
  width: 100%;
  height: 3096px;
  background-image: url(../images/main-bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}
.main-text h1 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 350rem;
  font-weight: 150;
}
.main-info h3 {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 38rem;
  line-height: 50rem;
  text-align: center;
  margin: 0 100rem;
  top: 110vh;
}

.dolphin {
  display: flex;
  width: 100%;
  height: 700rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 180rem;
}
.main-menu {
  width: 90%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.main-menu li {
  display: inline-block;
}

.main-menu a {
  position: relative;
  font-size: 40rem;
  display: inline-block;
  font-style: italic;
}
.art1 {
  display: none;
}
.items {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
}
.articles-pl,
.articles-png {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 1100rem;
  max-width: none;
}
.about-pl,
.about-png {
  width: 40vw;
  height: auto;
  position: absolute;
  top: 1320rem;
  right: 62%;
  /* transform: translate(-130%, -50%); */
}
.archive-pl,
.archive-png {
  width: 93vw;
  position: absolute;
  top: 1135rem;
  left: 22%;
  /* transform: translateY(-50%); */
  height: auto;
}
