/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'arial narrow';
    src: url(fonts/f955bf9c1916545f4f8e.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'arial narrow italic';
    src: url(fonts/c599e2aafc499a21372d.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'arial narrow';
    src: url(fonts/4cad86aa05f7286be068.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'arial narrow italic';
    src: url(fonts/465dc0649679f65097f5.ttf);
    font-weight: 400;
}
* {
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 14.4);
  height: 100vh;
}

body {
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  font-size: 16rem;
  margin: 0;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    #6872ff 0%,
    #6872ff 45%,
    #ba34ff
  );
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

.zaglushka {
  color: bisque;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.zaglushka h1 {
  font-size: 100rem;
  font-weight: 400;
  line-height: 60rem;
  -webkit-text-stroke: 2rem black;
  margin-bottom: 26rem;
}

.zaglushka h2 {
  font-size: 100rem;
  font-weight: 400;
  line-height: 60rem;
  -webkit-text-stroke: 2rem black;
  margin-bottom: 26rem;
}

.zaglushka h3 {
  font-size: 42rem;
  line-height: 44rem;
  margin-bottom: 26rem;
  -webkit-text-stroke: none;
  font-weight: 400;
}

.zaglushka img {
  width: 48%;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100rem 0 0 30rem;
  position: absolute;
  z-index: 100;
  color: white;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30rem;
  border-radius: 30rem;
}

input[name='message'] {
  width: 33%;
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 56rem;
  border-radius: 10rem;
  outline: none;
  border: 1rem solid black;
  -webkit-text-stroke: none;
  padding: 0 20rem 4rem;
  color: black;
  transition: border ease 0.3s;
  font-size: 35rem;
}

#my-form-button {
  width: 15%;
  height: 56rem;
  border-radius: 10rem;
  padding: 0 20rem 4rem;
  outline: none;
  background-color: #0540f2;
  border: 1rem solid black;
  -webkit-text-stroke: none;
  color: white;
  font-size: 35rem;
  cursor: pointer;
  font-family: 'arial narrow', Arial, Helvetica, sans-serif;
}

#my-form-status {
  font-size: 30rem;
  padding-left: 20;
}

.clouds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.cloud-1 {
  position: absolute;
  width: 50%;
  bottom: 80%;
  right: 80%;
  transform: rotate(180deg);
}

.cloud-2 {
  position: absolute;
  width: 50%;
  bottom: 85%;
  left: 65%;
}

.cloud-3 {
  position: absolute;
  width: 50%;
  top: 70%;
  left: 60%;
}

.cloud-4 {
  position: absolute;
  width: 50%;
  top: 75%;
  right: 70%;
  transform: rotate(180deg);
}

.socials {
  position: absolute;
  width: auto;
  height: auto;
  align-items: center;
  left: 65rem;
  top: 445rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.socials a {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  height: 80rem;
  width: auto;
}

.vk {
  height: 40rem;
}

.tgg {
  margin-left: 4.5rem;
  height: 40rem;
}

.inst {
  height: 46rem;
  padding-bottom: 4rem;
}

.socials a img {
  width: 80%;
}

@media screen and (max-width: 600px) {
  html {
    font-size: calc(0.35vw / 3.9);
  }
  body {
    background: radial-gradient(
      ellipse at center,
      #6872ff 0%,
      #6872ff 5%,
      #ba34ff
    );
  }
  .zaglushka {
    flex-direction: column;
  }

  .zaglushka h3 {
    font-size: 50rem;
    padding-right: 240rem;
  }
  .text {
    margin-top: 380rem;
    padding: 20rem;
  }

  .zaglushka img {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 40rem;
  }
  input[name='message'] {
    width: 100%;
    height: 70rem;
    font-size: 36rem;
    margin-top: 680rem;
  }
  #my-form-button {
    width: 30%;
    height: 70rem;
    font-size: 36rem;
  }
  .clouds {
    width: 140vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(10rem);
  }
  .cloud-1 {
    width: 80%;
    bottom: 80%;
    right: 60%;
  }
  .cloud-2 {
    width: 80%;
    bottom: 80%;
    left: 40%;
    rotate: 15deg;
  }
  .cloud-3 {
    width: 80%;
    top: 78%;
    left: 35%;
  }

  .cloud-4 {
    width: 80%;
    top: 80%;
    right: 65%;
    transform: rotate(180deg);
  }
  .socials {
    left: 60rem;
    top: 1700rem;
    gap: 5rem;
    margin: 100rem auto;
  }

  .vk {
    height: 80rem;
  }

  .tgg {
    margin-left: 4.5rem;
    height: 80rem;
  }

  .inst {
    height: 86rem;
    padding-bottom: 4rem;
  }

  .socials a img {
    width: 80%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: calc(0.35vw / 3.9);
  }
  body {
    background: radial-gradient(
      ellipse at center,
      #6872ff 0%,
      #6872ff 5%,
      #ba34ff
    );
  }
  .zaglushka {
    flex-direction: column;
  }

  .zaglushka h3 {
    font-size: 50rem;
    padding-right: 240rem;
  }
  .text {
    margin-top: 100rem;
    padding: 20rem;
  }

  .zaglushka img {
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  input[name='message'] {
    width: 100%;
    height: 70rem;
    font-size: 36rem;
    margin-top: 690rem;
  }
  #my-form-button {
    width: 30%;
    height: 70rem;
    font-size: 36rem;
  }
  .clouds {
    width: 140vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(10rem);
  }
  .cloud-1 {
    width: 80%;
    bottom: 75%;
    right: 60%;
  }
  .cloud-2 {
    width: 80%;
    bottom: 70%;
    left: 40%;
    rotate: 15deg;
  }
  .cloud-3 {
    width: 80%;
    top: 70%;
    left: 35%;
  }

  .cloud-4 {
    width: 80%;
    top: 75%;
    right: 65%;
    transform: rotate(180deg);
  }
  .socials {
    left: 60rem;
    top: 1230rem;
    gap: 5rem;
    margin: 100rem auto;
  }

  .vk {
    height: 80rem;
  }

  .tgg {
    margin-left: 4.5rem;
    height: 80rem;
  }

  .inst {
    height: 86rem;
    padding-bottom: 4rem;
  }

  .socials a img {
    width: 80%;
  }
}



